In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("store_data.csv")
display(df.head(2))
display(df.shape)

,date,month,year,product_id,product_name,category,buy_price,sell_price,quantity,sales,profit_per_item,profit
0,2022-10-02,10,2022,OFF-ST-10000988,"Fellowes Folders, Blue",Storage,25.99,31.97,3,77.97,5.98,17.94
1,2022-10-02,10,2022,TEC-AC-10004144,"SanDisk Numeric Keypad, Bluetooth",Accessories,55.99,72.23,7,391.93,16.24,113.68

(10000, 12)

In [3]:
dflog = pd.read_csv("logistics.csv")
display(dflog.head(2))
display(dflog.shape)

,product_name,product_id,category,buy_price,sell_price,stock,profit_per_item
0,"Fellowes Folders, Blue",OFF-ST-10000988,Storage,25.99,31.97,2,5.98
1,"SanDisk Numeric Keypad, Bluetooth",TEC-AC-10004144,Accessories,55.99,72.23,18,16.24

(1856, 7)

In [4]:
import streamlit as st
import snowflake.connector

### defining/resetting databases

In [5]:
# establishing the connection to snowflake
conn = snowflake.connector.connect(user = "mdimasaac", password = "Qaz1234.", account = "vliobpf-yr09142")
# always begins with defining the cursor
cur = conn.cursor()
# create a new database
cur.execute("CREATE OR REPLACE DATABASE store_it")
# use that database
cur.execute("USE DATABASE store_it")
# create a new schema
cur.execute("CREATE OR REPLACE SCHEMA store_schema")
# use that schema
cur.execute("USE SCHEMA store_schema")
# create table 1: store_data
cur.execute('''CREATE OR REPLACE TABLE store_data (date VARCHAR, month VARCHAR, year INTEGER, product_id VARCHAR,
                product_name VARCHAR, category VARCHAR, buy_price FLOAT, sell_price FLOAT, quantity INTEGER,
                sales FLOAT, profit_per_item FLOAT, profit FLOAT)''')
data = df.values.tolist()
cur.executemany('''INSERT INTO store_data (date, month, year, product_id, product_name, category, buy_price, sell_price,
                    quantity, sales, profit_per_item, profit) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''', data)
# create table 2: logistics
cur.execute('''CREATE OR REPLACE TABLE logistics (product_name VARCHAR, product_id VARCHAR, category VARCHAR, buy_price FLOAT,
                sell_price FLOAT, stock INTEGER, profit_per_item FLOAT)''')
datalog = dflog.values.tolist()
cur.executemany('''INSERT INTO logistics (product_name, product_id, category, buy_price, sell_price, stock, profit_per_item)
                VALUES (%s, %s, %s, %s, %s, %s, %s)''', datalog)
# apply changes (?)
conn.commit()
# ends the action(s)
cur.close()
conn.close()

2023-04-08 06:46:44.971 INFO    snowflake.connector.connection: Snowflake Connector for Python Version: 3.0.2, Python Version: 3.8.0, Platform: Windows-10-10.0.19041-SP0
2023-04-08 06:46:44.973 INFO    snowflake.connector.connection: This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
2023-04-08 06:46:44.974 INFO    snowflake.connector.connection: Setting use_openssl_only mode to False
2023-04-08 06:46:46.698 INFO    snowflake.connector.cursor: query: [CREATE OR REPLACE DATABASE store_it]
2023-04-08 06:46:47.022 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:47.023 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:47.024 INFO    snowflake.connector.cursor: query: [USE DATABASE store_it]
2023-04-08 06:46:47.209 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:47.211 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:47.212 INFO    snowflake.connector.cursor: query: [CREATE OR REPLACE SCHEMA store_schema]
2023-04-08 06:46:47.450 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:47.451 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:47.452 INFO    snowflake.connector.cursor: query: [USE SCHEMA store_schema]
2023-04-08 06:46:47.609 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:47.609 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:47.610 INFO    snowflake.connector.cursor: query: [CREATE OR REPLACE TABLE store_data (date VARCHAR, month VARCHAR, year INTEGER, p...]
2023-04-08 06:46:47.929 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:47.930 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:48.375 INFO    snowflake.connector.cursor: query: [INSERT INTO store_data (date, month, year, product_id, product_name, category, b...]
2023-04-08 06:46:54.209 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:54.223 INFO    snowflake.connector.cursor: query: [CREATE OR REPLACE TABLE logistics (product_name VARCHAR, product_id VARCHAR, cat...]
2023-04-08 06:46:54.448 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:54.449 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:54.500 INFO    snowflake.connector.cursor: query: [INSERT INTO logistics (product_name, product_id, category, buy_price, sell_price...]
2023-04-08 06:46:55.706 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:55.709 INFO    snowflake.connector.cursor: query: [COMMIT]
2023-04-08 06:46:55.889 INFO    snowflake.connector.cursor: query execution done
2023-04-08 06:46:55.890 INFO    snowflake.connector.cursor: Number of results in first chunk: 1
2023-04-08 06:46:55.890 INFO    snowflake.connector.connection: closed
2023-04-08 06:46:56.008 INFO    snowflake.connector.connection: No async queries seem to be running, deleting session